.error {
	position: relative;
    margin: 0 auto;
    text-align: center;
    min-height: 300px;
    
	.error-code, .error-content {
		-webkit-transform: translateZ(0);
    	position: absolute;
	    left: 0;
	    right: 0;
	}
	
    .error-code {
    	bottom: 60%;
		color: #2d353c;
		font-size: 96px;
		line-height: 100px;
	}
	
	.error-content {
	    top: 40%;
	    bottom: 0;
	    padding-top: 15px;
	    
	    .error-message {
			font-size: 24px;    
		}
	}
	  
    .margin-bottom-10 {
    	margin-bottom: 10px!important;
	}
}